<h2><%= @title %><%= link_to 'Add New Alert', new_rx_alert_path, {class: 'nav-button nav-active-action nav-top-right'} %></h2>
<div class="activity-feed">
  <% if @rx_alerts.empty? %>
    <p>No recent alerts</p>
  <% else %>
    <% unless @todays_alerts.empty? %>
      <span class="activity-date-group">Today</span>
      <%= render partial: 'rx_alerts/alert_feed_item', collection: RxAlert.get_rev_sorted_alerts_from_array(@todays_alerts,100) %>
    <% end %>
    <% unless @last_week_alerts.empty? %>
      <span class="activity-date-group">Past Week</span>
      <%= render partial: 'rx_alerts/alert_feed_item', collection: RxAlert.get_rev_sorted_alerts_from_array(@last_week_alerts,100) %>
    <% end %>
    <% unless @older_alerts.empty? %>
      <span class="activity-date-group">Older</span>
      <%= render partial: 'rx_alerts/alert_feed_item', collection: RxAlert.get_rev_sorted_alerts_from_array(@older_alerts,20) %>
    <% end %>
  <% end %>
</div>
