<!DOCTYPE html>
<html>
<head>
  <title>Checkrx</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="banner-top">
	<a href='<%= rx_alerts_path %>'>
	<table><tr>
	  <td class="banner-icon"><img src='assets/checkmark.png' /></td>
	  <td class="banner-title"> Your Shelf</td>
	</tr></table></a>
</div>
<div class="user-menu">
	<div class="button-holder">
      <% if user_signed_in? %>
 	    <%= link_to 'Sign out', destroy_user_session_path, {class: 'nav-button', method: :delete} %>
     <% elsif !params[:controller].include? "devise" %>
 	    <%= link_to 'Sign in', new_user_session_path, {class: 'nav-button'} %>
     <% end %>
    </div>
    <div class="tab-holder">
      <% if user_signed_in? %>
        <% if params[:controller].include? "rx_alerts" %>
 	      <%= link_to 'Alerts', rx_alerts_path, {class: 'nav-tab active-tab'} %>
 	      <%= link_to 'Pharmacies', pharmacies_path, {class: 'nav-tab'} %>
 	    <% elsif params[:controller].include? "pharmacies" %>
 	      <%= link_to 'Alerts', rx_alerts_path, {class: 'nav-tab'} %>
 	      <%= link_to 'Pharmacies', pharmacies_path, {class: 'nav-tab active-tab'} %>
 	    <% end %>
      <% end %>
    </div>
  </div>
<div class="main-body">
	<% if user_signed_in? or params[:controller].include? "devise" %>
	  <%= yield %>
	<% else %>
      Welcome to CheckRx! Please <%= link_to 'Sign in', new_user_session_path %> to view recent alerts.
	<% end %>
</div>
<div class="main-footer">Developed at Hacking Health North 2014</div>
</body>
</html>
